*{
    margin: 0;
    padding: 0;
    color: #f2f5f7;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
  }
  body{
    overflow-x: hidden;
  }
  nav{
    height: 6rem;
    width: 100vw;
    background-color: #000000; /*323035*/
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
    box-shadow: 0 0 0 gray,
    -0 5px 5px gray, 0 5px 5px gray;
  }
  
  /*Styling logo*/
  .logo{
    padding:1vh 1vw;
    text-align: center;
  }
  .logo img {
    height: 5rem;
    width: 8rem;
  }
  
  /*Styling Links*/
  .nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-size: 115%;
  }
  .nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
  }
  .nav-links li a:hover {
    color: #dbdbdb;
  }
  .nav-links li {
    position: relative;
  }
  .nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #b91d1a;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
    margin-top: 20px;
  }
  .nav-links li a:hover::before{
    width: 80%;
  }
  
  /*Styling Buttons*/
  /*.login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;
  
  }
  .login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
  }*/
  .contact-button{
    color: #f2f5f7;
    background-color: #b91d1a;
    border: 1.5px solid #b91d1a;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
  }
  .contact-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
  }
  
  /*Styling Hamburger Icon*/
  .hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
  }
  .hamburger{
    display: none;
  }
  
  .nav-links li:nth-child(1){
    pointer-events: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    margin-left: -50px;
  }
  
  
  /*Stying for small screens*/
  @media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.3s ease;
    }
    .nav-links{
        position: fixed;
        background: #000000 ; /*323035*/
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 0.3s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.3s ease 0.2s;
        margin-left: 3%;
    }
    .nav-links li:nth-child(2){
        transition: all 0.3s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.3s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.3s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
    .text-block{
      margin-bottom: 70%; 
      display: none;
    }
  
    .textbox{
      margin-bottom: -50%;
    }
  
    .aboutus{
      margin-bottom: 20%;
    }
  
    .learnmore{
      margin-bottom: 100%;
    }
  
    .endinfo{
      display: none;
    }
    .inpicture{
      display: none;
    }
  
    .aboutus1{
      margin-top: 50px;
    }
  }
  /*Animating Hamburger Icon on Click*/
  .toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
  }
  .toggle .line2{
    transition: all 0.3s ease;
    width:0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
  }
  .top-image{
    /*margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height:auto;*/
    max-height: 600px;
    height: 70%;
    width: 100vw;
    }
    
    .container {
      position: relative;
      row-gap: 50px;
    }

    /* Style the header */
.header {
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
  }

.header h2{
    font-size: 250%;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-weight: bold;
}
.row {
    display: -webkit-flex;
    display: flex;
  } 
  
  /* Create three equal columns that floats next to each other */
  .column1 {
    float: left;
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  .column1 p{
    color: #000000;
    margin-top: 3%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: larger;
  }

.column1 h1{
    color: #000000;
    margin-top:2%;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
}

  .column2 {
    float: left;
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  .column2 p{
    color: #000000;
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: larger;
}

.column2 h1{
    color: #000000;
    margin-top:2%;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
}
  .column3 {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    box-sizing: border-box;
    text-align: center;
  }

  .column3 p{
    color: #000000;
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: larger;
  }
  .column3 h1{
    color: #000000;
    margin-top:2%;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
        align-items: center;
      }
  }

  .fa-solid{
    font-size: 500%;
    color: #b91d1a;
  }
  
  .endnote{
    margin-top: -10px;
    background-color: #000000;
    position: relative;
  }
  
  .titlend{
    font-size: 200%;
    padding: 30px;
  }
  
  .endcontacts{
    font-size: 150%;
    margin-top: -2%;
    padding: 30px;
  }
  
  .endinfo{
    font-size: 150%;
    padding: 50px;
    position: absolute;
    bottom: 0;
    right: 16px;
  
  
  }
  
  html {
    position: fixed;
    height: 100%;
    overflow: hidden;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
    width: 100vw; 
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
  
  .color-picker-main-container {
    width: 100%;
    font-size: 22px;
    padding-bottom: 110px;
  }
  
  footer {
    position: fixed;
  }
  